{% extends "layout.html" %}
{% block content %}

<div class="container pt-2 text-centre">
    <center>
    <h1>ToG Apps Home</h1>
    <h2>A place for the worhsip of bluFanana</h2>
    <img src="/static/imgs/bluFanana1.png" alt="In Fanana We Trust">
    </center>
</div>


{% endblock content %}